@{
    ViewBag.Title = "Index";
}
@model IEnumerable<RiskApp.Core.Models.SettledBetReport>


<style>
     .win {
         background-color: lightblue
     }
     .unusual {
         color: red;
     }
     .normal {
         color: darkgreen
     }

    td {
        min-width: 100px;
    }
</style>
<h2>Won bets at an unusual rate - To @Html.ActionLink("risky bets", "Risky")</h2> 
@foreach (var user in Model)
{
    <h3 class="@(user.IsUnusual ? "unusual" : "normal")">USER @user.CustomerId 
    @if (user.IsUnusual){
       <span> WinRate :  @user.WinRate</span>
     }
    </h3>
    <table>
        <tr>
            <td>Event</td>
            <td>Participant</td>
            <td>Stake</td>
            <td>Win</td>
        </tr>
        @foreach(var bet in user.HistoricalBets)
        {
            <tr class="@(bet.Win > 0 ? "win" : "lose") ">
                <td>@bet.Event</td>
                <td>@bet.Participant</td>
                <td>@bet.Stake</td>
                <td>@bet.Win</td>
            </tr>    
        }
    </table>    
}


